{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{% if form.url is defined %}
<div class="row">
    <div class="col-3">
        {{ form_label(form.url) }}
    </div>
    <div class="col-9">
        {{ form_errors(form.url) }}
        {{ form_widget(form.url) }}
        {{ form_help(form.url) }}
    </div>
</div>
{% else %}
    <div class="row">
        <div class="col-3">
            {{ form_label(form.title) }}
        </div>
        <div class="col-9">
            {{ form_widget(form.title) }}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            {{ form_label(form.author) }}
        </div>
        <div class="col-9">
            {{ form_widget(form.author) }}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            {{ form_label(form.date) }}
        </div>
        <div class="col-9">
            {{ form_widget(form.date) }}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            {{ form_label(form.width) }}
        </div>
        <div class="col-9">
            {{ form_widget(form.width) }}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            {{ form_label(form.height) }}
        </div>
        <div class="col-9">
            {{ form_widget(form.height) }}
        </div>
    </div>
{% endif %}
{% if form.duration is defined %}
    <div class="row">
        <div class="col"-3>
            {{ form_label(form.duration) }}
        </div>
        <div class="col-9">
            {{ form_widget(form.duration) }}
        </div>
    </div>
{% endif %}
<div class="row">
    <div class="col-3">
        {{ form_label(form.keywords) }}
    </div>
    <div class="col-9">
        <ul class="keywords" data-prototype="{{ form_widget(form.keywords.vars.prototype)|e('html_attr') }}">
            {% for keyword in form.keywords %}
                <li>{{ form_row(keyword.content) }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="modal-footer">
    {{ form_row(form.submit) }}
</div>

{{ form_end(form) }}

<script src="{{ asset('./build/embedded_forms.js') }}"></script>
<script>

    $('#linkForm').submit(function(e){
        e.preventDefault();
        var url = $(this).attr("action");
        var method = $(this).attr("method");
        var form_data = $(this).serialize();

        $.ajax({
            url : url,
            type: method,
            data : form_data
        }).done(function(data){
            window.location.replace("/");
        }).fail(function(data){
            $('#modalForm').modal('hide');
            displayMsg("URL is not valid. Use links from Vimeo or Flickr only.");
        });
    });
</script>